{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ user.username }}{% endblock %}</h1>
    {% if current_user == user%}
        <a class="action" href="{{ url_for('user.update_info') }}">Update Info</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.bio %}
        <p>{{ user.bio }}</p>
    {% endif %}
    <h1>Predictions</h1>
    <table>
        <tr>
            <th>Match</th>
            <th>Prediction</th>
            <th>Score</th>
            <th>Points</th>
        </tr>
        {% for prediction in predictions %}
        <tr>
            <td><a class="action" href="{{ url_for('competition.match', id=prediction.match.id) }}">{{ prediction.match }}</a></td>
            <td>{{ prediction }}</td>
            <td>{{ prediction.match.print_score() }}</td>
            <td>{{ prediction.print_score() }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}