{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ match }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if match.get_details() %}
        <p>{{ match.get_details() }}</p>
        <hr>
    {% endif %}
    <h1>Predictions</h1>
    <table>
        <tr>
            <th>Player</th>
            <th>Prediction</th>
            <th>Points</th>
        </tr>
        {% for prediction in predictions %}
        <tr>
            <td><a class="action" href="{{ url_for('user.user', username=prediction.user.username) }}">{{ prediction.user.username }}</a></td>
            <td>{{ prediction }}</td>
            <td>
                {% if prediction.calculate_score() %}
                    {{ prediction.calculate_score() }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}