{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}
        {% if match.has_result() %}
            {{ match }} ({{ match.print_score() }})
        {% else %}
            {{ match }}
        {% endif %}
        {% endblock %}
    </h1>
    {% if current_user.is_authenticated %}
        <a class="action" href="{{ url_for('competition.update', id=match.id) }}">Update Score</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if match.print_details() %}
        <p>{{ match.print_details() }}</p>
    {% endif %}
    <h1>Predictions</h1>
    <table>
        <tr>
            <th>Player</th>
            <th>Prediction</th>
            <th>Points</th>
        </tr>
        {% for prediction in predictions %}
        <tr>
            <td><a class="action" href="{{ url_for('user.user', username=prediction.user.username) }}">{{ prediction.user.username }}</a></td>
            <td>{{ prediction }}</td>
            <td>{{ prediction.print_score() }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}