{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post", novalidate>
    {{ form.hidden_tag() }}
    {{ form.username.label }}
    {% for error in form.username.errors %}
    <span style="color: red;"><i>{{ error }}</i></span>
    {% endfor %}
    {{ form.username(size=32) }}

    {{ form.email.label }}
    {% for error in form.email.errors %}
    <span style="color: red;"><i>{{ error }}</i></span>
    {% endfor %}
    {{ form.email(size=32) }}

    {{ form.password.label }}
    {% for error in form.password.errors %}
    <span style="color: red;"><i>{{ error }}</i></span>
    {% endfor %}
    {{ form.password(size=32) }}

    {{ form.password2.label }}
    {% for error in form.password2.errors %}
    <span style="color: red;"><i>{{ error }}</i></span>
    {% endfor %}
    {{ form.password2(size=32) }}

    {{ form.bio.label }}
    {% for error in form.bio.errors %}
    <span style="color: red;"><i>{{ error }}</i></span>
    {% endfor %}
    {{ form.bio(size=32) }}

    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}