<!doctype html>
<title>{% block title %}{% endblock %} - Rugby Sweepstake</title>
<script src='static/Chart.min.js'></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('home.home') }}">Rugby Sweepstake</a></h1>
  <ul>
    {% if current_user.is_anonymous %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% else %}
      {% if not current_user.has_entered %}
        <li><a href="{{ url_for('competition.enter') }}">Enter Sweepstake</a>
      {% endif %}
      <li><a href="{{ url_for('user.user', username=current_user.username) }}">{{ current_user.username }}</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>